{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th colspan="3">Détail du panier</th>
                <th>
                    <a href="{{ path('app_panier_vider') }}" title="Vider le panier">
                <i class="fa fa-trash"></i>
                    </a>
                </th>
            </tr>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Qté</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% set total = 0 %}
            {% for ligne in panier %}
                <tr>
                    <td>{{ ligne.produit.titre }}</td>
                    <td><span>{{ ligne.produit.prix }}</span>€</td>
                    <td>
                    
                    <div class="d-inline-flex  justify-content-between">
                    

                    <button class="btn btn-primary btnPlusMoins" id="plus-{{ligne.produit.id}}" idSecret="{{ path("app_panier_ajouter_card", {id: ligne.produit.id}) }}">+</button>
                    <div class="quantite">{{ ligne.quantite }} </div> 
                    <button class="btn btn-danger btnPlusMoins" id="moins-{{ligne.produit.id}}" idSecret="{{ path("app_panier_ajouter_card", {id: ligne.produit.id}) }}">-</button>
                  

                    </div>
                    
                    </td>
                   
                    <td>
                    <span class='prix'>{{ ligne.quantite * ligne.produit.prix }}€</span> 
                    <a href="{{ path("app_panier_supprimer", {id: ligne.produit.id}) }}" title="Supprimer un article" onclick="return confirm('Confirmer la suppression ?')">
                    <i class="fa fa-times text-danger"></i>
                    </a>           
                </td>
                </tr>
                {% set total = total + ligne.quantite * ligne.produit.prix %}
             
            {% else %}
                <tr>
                    <td colspan="4">Le panier est vide... pour l'instant</td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot class="thead-dark">
            <tr>
                <th colspan="3">Total</th>
                <td>{{ total }} €
                    {% if panier|length %}
                <a href="{{ path('app_panier_valider') }}" class="btn btn-success float-right">
                <i class="fa fa-cash-register"></i>
            </a>
        {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>
            <script>
    window.addEventListener("load", () => {
        
        $(".btnPlusMoins").click(function(event){
            event.preventDefault();
            let cible = $(this);
            let id = $(this).attr("id");
            let url = $(this).attr("idSecret");            
            let arr = id.split('-');
            if(arr[0] == "plus") {                   
                qte = 1;               
            } else if(arr[0] == "moins") {                
                qte = -1; 
            } 
            
            $.ajax({
                url: url,
                data: "qte=" +  qte,
                dataType: "json",
                success: (data) => {
                    // 
                    let info = data[0].split("/");
                    console.log(info);
                    cible.parents("td").children("div").children(".quantite").html(info[0]);
                    cible.parents("td").next().children(".prix").html(info[1] * info[0] + '€');
                },
                error: (jqXHR,status, error) => {
                    console.log("ERREUR AJAX" , status,error);
                }
            });           
        });

    });
</script>
{% endblock %}