<div class="d-flex justify-content-center cardCat">
	<div class="card text-bg-dark ">
		<a class="text-decoration-none" href="{{ path('app_produit_genre', {'genre': 'Homme'}) }}">
			<div class="card-img-overlay d-flex align-items-center">
				<h1 class="card-title titreCard text-center">Hommes</h1>
				<p class="card-text">
					<small></small>
				</p>
			</div>
			<img src="{{ asset('images/homme2.jpg')|imagine_filter('imgAccueil') }}" class="card-img">
		</a>
	</div>


	<div class="card text-bg-dark ">
		<a class="text-decoration-none" href="{{ path('app_produit_genre', {'genre': 'Femme'}) }}">
			<div class="card-img-overlay d-flex align-items-center">
				<h1 class="card-title titreCard text-center">Femmes</h1>
				<p class="card-text">
					<small></small>
				</p>
			</div>
			<img src="{{ asset('images/femme2.jpg')|imagine_filter('imgAccueil') }}" class="card-img">
		</a>
	</div>

	<div class="card text-bg-dark ">
		<a class="text-decoration-none" href="{{ path('app_produit_genre', {'genre': 'Enfant'}) }}">
			<div class="card-img-overlay d-flex align-items-center">
				<h1 class="card-title titreCard text-center">Enfant</h1>
				<p class="card-text">
					<small></small>
				</p>
			</div>
			<img src="{{ asset('images/pexels-marta-wave-6437462 (1).jpg')|imagine_filter('imgAccueil') }}" class="card-img">
		</a>
	</div>

</div>
