<div class="col-10">
	<div>
		<a class="text-decoration-none" href="{{ path('app_produit_genre', {'genre': 'Homme'}) }}">
			<p class="titre">Homme</p>
			<img src="{{ asset('images/homme.png')|imagine_filter('imgAccueil') }}">
		</a>
		<div style="padding:10px;"></div>
	</div>

	<div>
		<a class="text-decoration-none" href="{{ path('app_produit_genre', {'genre': 'Femme'}) }}">
			<p class="titre">Femme</p>
			<img src="{{ asset('images/pexels-inga-seliverstova-3394229.jpg')|imagine_filter('imgAccueil') }}">
		</a>
		<div style="padding:10px;"></div>
	</div>

	<div>
		<a class="text-decoration-none" href="{{ path('app_produit_genre', {'genre': 'Enfant'}) }}">
			<p class="titre">Enfant</p>
			<img src="{{ asset('images/pexels-marta-wave-6437462 (1).jpg')|imagine_filter('imgAccueil') }}">
		</a>
		<div style="padding:10px;"></div>
	</div>
</div>
