{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}
{% block large %}
	{{ include("home/carrousel.html.twig") }}
	<div class="rowp">
		<div class="col-2">
			<ul class="list-group">
				<h5>Trier par</h5>
				<div class="accordion accordion-flush" id="accordionFlushExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
								Tailles
							</button>
						</h2>
						<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body">
								{% for taille in tailles %}
									<a class="nav-link" href="{{ path('app_taille', {'size': taille.size}) }}">{{ taille.size }}</a>
									<hr>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
								Couleurs
							</button>
						</h2>
						<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body">
								{% for key in couleurs %}
									<li class="list-group-item">
										<a class="nav-link" href="{{ path('app_couleur_color', {'color': key.couleur }) }}">{{ key.couleur }}</a>
									</li>
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Marques
							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								{% for key in marques %}
									<li class="list-group-item">
										<a class="nav-link" href="{{ path('app_marque_mark', {'mark': key.marque }) }}">{{ key.marque }}</a>
									</li>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>

			</ul>


		</div>
	</div>

{% endblock %}
{% block body %}

	<div class="">
		{{ include("produit/card2.html.twig") }}
		<div class="row">
			{% for produit in listeProduits %}
				{# {{ include("produit/card.html.twig") }} #}
			{% else %}
				Aucun produit enregistré
			{% endfor %}
		</div>
	</div>
{% endblock %}
