{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<div class="row justify-content-start">
		<div class="col-2">
			<ul class="list-group">
				{% for indice in tailles %}

					<li class="list-group-item">
						<a class="nav-link" href="{{ path('app_taille_tail', {'tail': indice.taille}) }}">{{ indice.taille }}</a>
					</li>

				{% endfor %}

				{% for produit in produitsByGenres %}

					<li class="list-group-item">
						<a class="nav-link" href="{{ path('app_genre', {'genre': indice.produitsByGenre}) }}">{{ indice.produitsByGenre }}</a>
					</li>

				{% endfor %}
			</ul>

		</div>

		<div class="col-10">
			<div class="card-deck">
				{% for produit in listeProduits %}
					{{ include("produit/card.html.twig") }}
				{% else %}
					Aucun produit enregistré
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
