{% extends 'base.html.twig' %}

{% block title %}Page Profil Client
{% endblock %}

{% block h1 %}Profil client
{% endblock %}

{% block body %}
	<div class="container conpro">
		<div class="infoPerso w-50">
			<h5 class="text-center">Informations Personnelles</h5>
			<p class="">Pseudo :
				{{ app.user.pseudo }}</p>
			<p class="">Identité :
				{{ app.user.prenom ~ " " ~ app.user.nom }}</p>
			<p class="">Adresse :
				{{ app.user.adresse ~ " " ~ app.user.codePostal ~ " " ~ app.user.ville }}</p>
			<p class="">E-mail :
				{{ app.user.email }}</p>

			<p>Type :</p>
			<ul class="list-unstyled">
				{% for role in app.user.roles %}
					<li>
						{% if role == "ROLE_ADMIN" %}
							Administrateur
						{% elseif role == "ROLE_CLIENT" %}
							Client
						{% elseif role == "ROLE_MODO" %}
							Modérateur
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="infoPerso w-50 text-center">
			<li class="list-group-item">
				<strong>Mes commandes :
				</strong>
				<table class="table">
					<thead>
						<tr>
							<th>Numéro</th>
							<th>Date</th>
							<th>Montant</th>
							<th>État</th>
						</tr>
					</thead>
					<tbody>
						{% for cmd in app.user.commandes|slice(0,5) %}
							<tr>
								<td>
									<a href="{{ path('app_profil_commande', {id: cmd.id}) }}" class="btn btn-primary" title="Voir le détail de la commande">
										{{ cmd.id }}
									</a>
								</td>
								<td>{{ cmd.dateEnregistrement|date("d/m/y") }}</td>
								<td>{{ cmd.montant }}
									€</td>
								<td>{{ cmd.etat|upper }}</td>
								<td>
									<a href="{{ path('app_profil_commande', {id: cmd.id}) }}" class="btn btn-primary" title="Voir le détail de la commande">
										Voir la commande
									</a>
								</td>
							</tr>

						{% else %}
							<tr>
								<td colspan="3">Aucune commande</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>


			</li>
			<div class="text-end">
        		<p class="mt-2"><a href="{{ path('app_profil_toute_commande') }}" class="btn btn-primary text-white">Toutes mes commandes </a></p>
			</div>
		</div>
	</div>
{% endblock %}
