{% block section %}

	<div class="col-4">
		<div class="card" style="style=" margin-right: 0;margin-left: 0;"">

			<img class="card-img-top mx-auto w-100" src="{{ asset(image_path ~ produit.photo )|imagine_filter('article') }}" alt="{{ produit.titre }}">

			{# | imagine_filter('miniature') #}
			<div class="card-body">
				<h5 class="card-title">Nom :
					{{ produit.titre }}</h5>
				<h5 class="card-title">Type :
					{{ produit.genre }}</h5>
				{# <p class="card-text">Référence : {{ produit.reference }}</p> #}
				<p class="card-text">Catégorie :
					{{ categorie.nom }}</p>
				<p class="card-text">Marque :
					{{ categorie.marque }}</p>
				<p class="card-text">Couleur :
					{{ categorie.couleur }}</p>
				<p class="card-text">Genre :
					{{ categorie.genre }}</p>
				<p class="card-text">Taille :
					{{ taille.size }}</p>
				<p class="card-text">Prix :
					{{ produit.prix }}
					€</p>
				<p class="card-text">Stock :
					{{ produit.stock }}</p>
				<a href="{{ path('app_produit_show', {id: produit.id}) }}" class="btn btn-primary">Voir</a>
				<form method="get" action="{{ path('app_panier_ajouter', {id: produit.id}) }}" id="form{{ produit.id }}">
					<input name="qte" type="number" min="0" max="{{ produit.stock }}">
					<button class="btn btn-warning">
						<i class="fa fa-cart-arrow-down"></i>
					</button>
				</form>
			</div>

		</div>

   </div>

    


{% endblock %}
{% block javascripts %}

<script>
//L’événement load qui se déclenche lorsque la requête a bien été effectuée et que le résultat est prêt ;
window.addEventListener("load", () => {
// On selectione l'element #form{{ produit.id }}
$("#form{{ produit.id }}").on("submit", (evtSubmit) => {
//La méthode event.preventDefault() empêche l'action par défaut d'un élément de se produire.
 evtSubmit.preventDefault();
//On verifie que les elements son bien selectionner
console.log($("#form{{ produit.id }} [name='qte']").val());
//on demmare la methode ajax
$.ajax({
//représente l’URL de destination de la requête, c’est-à-dire l’URL où on souhaite envoyer notre requête.
url: "{{ path('app_panier_ajouter', {id: produit.id}) }}",
//Données à envoyer au serveur
data: "qte=" + $("#form{{ produit.id }} [name='qte']").val(),
//demande au serveur de renvoyer sa réponse sous forme JSON.
dataType: "json",
//successL'option de rappel est invoquée si la demande aboutit. Il reçoit les données renvoyées, une chaîne contenant le code de réussite et l' jqXHRobjet.
success: (data) => {
console.log(data);
//La méthode  html() est utilisée pour modifier tout le contenu des éléments sélectionnés. Il remplace le contenu de l'élément sélectionné par un nouveau contenu.
$("#nombre").html(data);
console.log("nb produits dans le panier = " + data);
//On verifie que les des donnees sont bien egale au nombre de produits

},
error: (jqXHR, status, error) => {
console.log("ERREUR AJAX", status, error);
//status = retourne de statut code HTTP de la réponse ;
}
});
});
});
</script>
{% endblock %}
