{% block section %}

	<div class="col-4 mb-4">
		<div class="card cardP">
			<div class="img">
				<a class="lienone" href="{{ path('app_produit_show', {id: produit.id}) }}" class="btn btn-primary">
					<img class="card-img-top mx-auto w-100 h-100" src="{{ asset(image_path ~ produit.photo ) }}" alt="{{ produit.titre }}">
				</a>

			</div>
			{# | imagine_filter('miniature') #}
			<div class="card-body">
				<div class="cardb1">
					<h5 class="card-title">
						{{ produit.titre }}</h5>
					<p class="card-title">Pour
						{{ produit.genre.type }}</p>

					<select name="" id="">
						<p class="card-text">Taille :
							{% for taille in produit.taille %}
								<option value="{{ taille.size ~ ", " }}">{{ taille.size ~ ", " }}
								{% endfor %}
							</p>
						</p>
					</select>
				</p>

			</p>

		</div>

		<div class="justify-content-between stockPrix">
			<p class="card-text">
				Prix :
				{{ produit.prix }}
				€
			</p>
			<div class="align-items-baseline formBtn">
				<p class="card-text">Stock :
					{{ produit.stock }}</p>
				<form method="get" action="{{ path('app_panier_ajouter', {id: produit.id }) }}" id="form{{ produit.id }}">
					<input name="qte" type="number" min="0" max="{{ produit.stock }}">
					<button class="btn btn-warning">
						<i class="fa fa-cart-arrow-down"></i>
					</button>
				</form>
			</div>
		</div>
	</div>

</div>

</div>{% endblock %}{{ include("produit/card-ajax.html.twig") }}
