{% extends "base.html.twig" %}

{% block title %}Fiche produit
{% endblock %}

{% block body %}
	<div class="col d-flex justify-content-center">
		<img class="" src="{{ '/images/' ~ produit.photo }}" alt="Image de {{ produit.titre }}">
		<div class="col-6">
			<ul class="list-group">
				<li class="list-group-item d-flex">
					<div class="col-4">Titre</div>
					<div class="col-8">{{produit.titre}}</div>
				</li>
				<li class="list-group-item d-flex">
					<div class="col-4">Genre</div>
					<div class="col-8">{{produit.genre.type}}</div>
				</li>
				<li class="list-group-item d-flex">
					<div class="col-4">Catégorie</div>
					<div class="col-8">{{produit.categorie.nom}}</div>
				</li>
				<li class="list-group-item d-flex">
					<div class="col-4">Taille</div>
					{% for taille in produit.taille %}
						{{ taille.size ~ ", " }}
					{% endfor %}
				</li>
				<li class="list-group-item d-flex">
					<div class="col-4">Prix</div>
					<div class="col-8">{{produit.prix}}</div>
				</li>
				<li class="list-group-item d-flex">
					<div class="col-4">Description</div>
					<div class="col-8">{{produit.description}}</div>
				</li>
			</ul>


			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					Information supplémentaires
				</button>


				<ul class="dropdown-menu p-19 10 17">
					<li class="list-group-item d-flex">
						<div class="col-4">Référence</div>
						<div class="col-8">{{produit.reference}}</div>
					</li>

					<li class="list-group-item d-flex">
						<div class="col-4">Marque</div>
						<div class="col-8">{{produit.marque}}</div>
					</li>
					<li class="list-group-item d-flex">
						<div class="col-4">Couleur</div>
						<div class="col-8">{{produit.couleur}}</div>
					</li>

					<li class="list-group-item d-flex">
						<div class="col-4">Stock</div>
						<div class="col-8">{{produit.stock}}</div>
					</li>
				</li>
				

				<li class="list-group-item d-flex">
					<div class="col-3">Popularité:</div>
					<div class="col-9 offset-1">Ce produit est apparu dans
						{{produit.details|length}}
						commande(s)</div>
				</li>
			</ul>

		</div>
	</div>
</div>
<div class="d-flex justify-content-between mt-3">
	<a href="{{ path("app_home") }}" class="btn btn-secondary">
		<i class="fa fa-home"></i>
		Retour à l'accueil</a>
	<a href="{{ path("app_panier_ajouter", {id: produit.id, qte: 1}) }}" class="btn btn-primary ajax">
		<i class="fa fa-cart-arrow-down"></i>
		Ajouter au panier</a>
</div>{% endblock %}
