{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>stock</th>
                <th>marque</th>
                <th>couleur</th>
                <th>genre</th>
                <th>nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.titre }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>

        {% for categorie in produit %}
                <td>{{ categorie.marque }}</td>
                <td>{{ categorie.couleur }}</td>
                <td>{{ categorie.genre }}</td>
                <td>{{ categorie.nom }}</td>
        {% endfor %}
        {% for taille in produit %}
                 <td>{{ taille.size }}</td>
               
                
        {% endfor %}
                 <td>
                <img class="" width="100" src="{{ asset(image_path ~ produit.photo ) }}" alt="{{ produit.titre }}"></td>

                    <a href="{{ path('app_admin_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_admin_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
              
              

                 

            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_produit_new') }}">Create new</a>
{% endblock %}
