<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">Eboutik</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
               <a class="nav-link" href="{{ path('app_categorie_cat', {'cat': 'vetement'}) }}">Vétements</a>
            </li>

             <li class="nav-item">
               <a class="nav-link" href="{{ path('app_categorie_cat', {'cat': 'accesoires'}) }}">Accesoires</a>
            </li>

             <li class="nav-item">
               <a class="nav-link" href="{{ path('app_categorie_cat', {'cat': 'chaussure'}) }}">Chaussures</a>
            </li>

              <li class="nav-item">
               <a class="nav-link" href="{{ path('app_genre', {'genre': 'homme'}) }}">Homme</a>
            </li>

             <li class="nav-item">
               <a class="nav-link" href="{{ path('app_genre', {'genre': 'femme'}) }}">Femme</a>
            </li>





         
            
	  {% if not app.user %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">
		  <i class="fa fa-sign-in-alt"></i>
		  </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register') }}">
		  	<i class="fa fa-user-plus"></i>
		  </a>
        </li>
		{% else %}
			<li class="nav-item">
					<a class="nav-link" id="linkPseudoUser" href="   {{ is_granted('ROLE_ADMIN') ? path('app_admin_statistique_show')  : path('app_profil') }}">
						{{ app.user.pseudo }}
					 </a> 
				</li>
				<li class="nav-item">
					<a class="nav-link" id="LinkSignOutIcon" href="{{ path('app_logout') }}">
						<i class="fa fa-sign-out-alt"></i>
					</a>
				</li>
         

			{% endif %}

			{% if is_granted("ROLE_ADMIN") %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            produits
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_admin_produit_index') }}">liste</a></li>
            <li><a class="dropdown-item" href="{{ path('app_admin_produit_new') }}">ajouter</a></li>
          </ul>
        </li>
		 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            clients
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_admin_user_index') }}">liste</a></li>
            <li><a class="dropdown-item" href="{{ path('app_admin_user_new') }}">ajouter</a></li>
          </ul>
        </li>
		 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Commandes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_admin_commande_index') }}">liste</a></li>
            <li><a class="dropdown-item" href="{{ path('app_admin_commande_new') }}">ajouter</a></li>
          </ul>
        </li>
	
			{% endif %}
		<div class="supportNombrePanier">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('app_panier') }}">
					<i class="fa fa-shopping-cart"></i>
					<div id="nombre"></div>
				</a>
			</li>
			</div>
      </ul>
      <form class="d-flex" role="search" action="{{ path('app_recherche_ajax') }}" id="formSearch">
        <input id="search" name="search" class="form-control me-2" type="text" placeholder="Recherche" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Recherche</button>
      </form>
    </div>
  </div>
</nav>