<div class="wraper">
	<nav class="navbar">
		<div class="logo">
			<a class="navbar-brand" href="{{ path('app_home') }}">CedShop</a>
		</div>
		<ul class="liens">
			<li class="lien lien-deroulant">
				<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'Vêtement'}) }}">Vêtements</a>
				<div class="sous-menu">
					<ul class="liens">
						<li class="lien">
							<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'Veste'}) }}">Veste</a>

						</li>
						<li class="lien">
							<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'Pantalon'}) }}">Pantalon</a>
						</li>
						<li class="lien">
							<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'T-shirt'}) }}">T-shirt</a>
						</li>

						<li class="lien">
							<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'Sweat à capuche et sweat'}) }}">Sweat à capuche et sweat</a>
						</li>


					</ul>
				</div>
			</li>
			<li class="lien lien-deroulant">
				<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'Chaussure'}) }}">Chaussure</a>
				<div class="sous-menu">
					<ul class="liens">
						<li class="lien">
							<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'Basket'}) }}">Basket</a>

						</li>
						<li class="lien">
							<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'Botte'}) }}">Botte</a>
						</li>
						<li class="lien">
							<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'Chaussures de villes'}) }}">Chaussures de villes</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="lien lien-deroulant">
				<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'Accessoire'}) }}">Accessoire</a>
				<div class="sous-menu">
					<ul class="liens">
						<li class="lien">
							<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'Sac à bandoulière'}) }}">Sac à bandoulière</a>

						</li>
						<li class="lien">
							<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'Casquette'}) }}">Casquette</a>
						</li>
						<li class="lien">
							<a href="{{ path('app_produit_genre_categorie', {'genre': 'Homme', 'cat': 'Bonnet'}) }}">Bonnet</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
		{% if not app.user %}
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">
					<i class="fa fa-sign-in-alt"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_register') }}">
					<i class="fa fa-user-plus"></i>
				</a>
			</li>
		{% else %}
			<li class="nav-item">
				<a class="nav-link" id="linkPseudoUser" href="   {{ is_granted('ROLE_ADMIN') ? path('app_admin_statistique_show')  : path('app_profil') }}">
					{{ app.user.pseudo }}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="LinkSignOutIcon" href="{{ path('app_logout') }}">
					<i class="fa fa-sign-out-alt"></i>
				</a>
			</li>


		{% endif %}

		{% if is_granted("ROLE_ADMIN") %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					produits
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href="{{ path('app_admin_produit_index') }}">liste</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{ path('app_admin_produit_new') }}">ajouter</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					clients
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href="{{ path('app_admin_user_index') }}">liste</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{ path('app_admin_user_new') }}">ajouter</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Commandes
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href="{{ path('app_admin_commande_index') }}">liste</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{ path('app_admin_commande_new') }}">ajouter</a>
					</li>
				</ul>
			</li>

		{% endif %}
		<div class="supportNombrePanier">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('app_panier') }}">
					<i class="fa fa-shopping-cart"></i>
					<div id="nombre"></div>
				</a>
			</li>
		</div>
	</ul>
	<form class="d-flex" role="search" action="{{ path('app_recherche_ajax') }}" id="formSearch">
		<input id="search" name="search" class="form-control me-2" type="text" placeholder="Recherche" aria-label="Search">
		<button class="btn btn-outline-success" type="submit">Recherche</button>
	</form>
</nav></div>
